#start {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	overflow: auto;
	width: 680px;
	height: 280px;
	text-align: center;
	padding: 16px;
	background-color: rgba(255, 255, 255, 0.8);
}

h1, h4 {
	font-weight: normal;
	color: black;
}

body {
	margin-top: 20px;
	background-image: url("../img/Kingdom.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

hr {
	color: white;
}

.icon {
	width: 60px;
	height: 60px;
}

div[name="data"] {
	height: 60px;
	width: 140px;
	display: inline-block;
	font-size: 40px;
	text-align: left;
	position: relative;
	left: 16px;
	bottom: 20px;
}

#stats {
	text-align: center;
	height: 60px;
	padding: 10px;
	padding-top: 20px;
	width: 650px;
	margin: auto;
	background: rgba(255, 255, 170, 0.8);
}

.drop {
    width: 250px;
    height: 250px;
    padding: 10px;
	display: inline-block;
	margin: 0px 6px 0px 6px;
}

#drops {
	text-align: center;
}

img[name="drag"] {
	margin: auto;
	display: block;
	max-height: 230px;
	max-width: 230px;
}

#drags {
	text-align: center;
	height: 272px;
	width: 262px;
	margin: auto;
	margin-top: 14px;
	padding-top: 12px;
	background-color: rgba(190, 220, 255, 0.8);
}

.data {
	font-size: 40px;
	text-align: left;
	position: relative;
	bottom: 18px;
	left: 10px;
}

#invite {
	background: url("../img/in.png") no-repeat center;
	background-color: rgba(230, 255, 230, 0.8);
}

#decline {
	background: url("../img/out.png") no-repeat center;
	background-color: rgba(255, 230, 230, 0.8);
}

#gameover {
	font-size: 80px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	overflow: auto;
	width: 440px;
	height: 200px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
}

#reset {
	margin: auto;
	left: 0;
	right: 0;
	position: absolute;
	width: 120px;
}

#progress {
	width: 230px;
	margin: auto;
}

#bar {
	width: 230px;
	height: 15px;
	background-color: red;
	position: relative;
	bottom: 30px;
}

#popprogress {
	width: 800;
	background-color: #EEEEEE;
	margin: auto;
}

#popbar {
	width: 800px;
	height: 16px;
	background-color: red;
	position: absolute;
	bottom: 0px;
}

#distraction {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	overflow: auto;
	background: rgba(255, 255, 255, 0.5);
}

#popup {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
	background-color: #EEEEEE;
	width: 800px;
	height: 302px;
	border: 30px solid #DDDDDD;
}

.reqbut {
	filter: brightness(1);
	display: inline-block;
	border: none;
	width: 118px;
}

.reqbut:hover {
	filter: brightness(1.2);
}

.reqbut:active {
	filter: brightness(0.8);
}

#reqimg {
	width: 260px;
	height: 260px;
	display: inline-block;
	text-align: center;
}

#requester {
	max-width: 100%;
	max-height: 100%;
}

#request {
	display: inline-block;
	overflow: hidden;
	margin-top: 10px;
}

#reqbody {
	font-size: 22px;
	height: 200px;
	word-wrap: break-word;
	max-width: 500px;
	color: black;
	font-weight: bold;
}

#yes {
	background-image: url("../img/yes.png");
}

#no {
	background-image: url("../img/no.png");
}

#ok {
	background-image: url("../img/ok.png");
}

#dialogue {
	background-image: url("../img/textbox.png");
	width: 419px;
    height: 170px;
    position: absolute;
	left: 60%;
	top: 172px;
}

#text {
	height: 90px;
    width: 322px;
    position: relative;
    left: 85px;
    top: 65px;
	word-wrap: break-word;
	font-weight: bold;
	font-size: 18px;
}

#tutorial {
	position: absolute;
	top: 130px;
	right: 60%;
}

@media only screen and (orientation: portrait) and (min-width: 415px) {
	#invite {
		background-image: url("../img/min.png");
		border: none;
	}

	#decline {
		background-image: url("../img/mno.png");
		border: none;
	}

	.drop {
		border: none;
		border-radius: 0;
	}
	
	#drags {
		width: 250px;
		position: relative;
		right: 133px;
	}
	
	#bar {
		right: 128px;
	}
	
	#dialogue {
		left: 41%;
	}
}

@media only screen and (orientation: portrait) and (max-width: 415px) {
	#invite {
		background-image: url("../img/min.png");
		border: none;
	}

	#decline {
		background-image: url("../img/mno.png");
		border: none;
	}

	.drop {
		border: none;
		border-radius: 0;
		width: 138px;
		height: 138px;
		margin: 0px;
	}
	
	#stats {
		width: 270px;
		height: 70px;
		padding: 4px;
		padding-top: 10px;
	}
	
	.icon {
		width: 30px;
		height: 30px;
	}
	
	div[name="data"] {
		font-size: 26px;
		width: 90px;
		bottom: 8px;
		height: 36px;
	}
	
	body {
		margin-top: 8px;
	}
	
	#drags {
		height: 145px;
		margin-top: 10px;
		width: 280px;
	}
	
	img[name="drag"] {
		max-height: 110px;
		max-width: 110px;
		position: relative;
		right: 82px;
	}
	
	#bar {
		height: 10px;
		bottom: 20px;
		right: 0px;
	}
	
	#dialogue {
		background-size: 190px 110px;
		background-repeat: no-repeat;
		left: 32%;
		top: 100px;
		height: 120px;
	}
	
	#text {
		top: 39px;
		left: 40px;
		width: 145px;
		height: 64px;
		font-weight: normal;
		font-size: 10px;
	}
	
	#popup {
		border: 6px solid #DDDDDD;
		width: 290px;
		height: 165px;
	}
	
	#reqimg {
		width: 80px;
		height: 80px;
	}
	
	#request {
		width: 196px;
	}
	
	#reqbody {
		font-size: 12px;
		height: 80px;
		width: 196px;
	}
	
	.reqbut {
		width: 118px;
		background-repeat: no-repeat;
		margin: 7px;
	}
	
	#popbar {
		height: 10px;
		width: 268px;
	}
	
	#start {
		width: 270px;
		height: 240px;
	}
	
	h1 {
		font-size: 30px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	#gameover {
		width: 300px;
		font-size: 50px;
		height: 150px;
	}
}

@media only screen and (orientation: landscape) and (max-width: 830px) {
	#invite {
		background-image: url("../img/min.png");
		background-size: 120px;
		border: none;
	}

	#decline {
		background-image: url("../img/mno.png");
		background-size: 120px;
		border: none;
	}

	.drop {
		border: none;
		border-radius: 0;
		width: 150px;
		height: 90px;
	}
	
	#stats {
		width: 450px;
		height: 30px;
		padding: 4px;
		padding-top: 0px;
	}
	
	.icon {
		width: 30px;
		height: 30px;
	}
	
	div[name="data"] {
		font-size: 26px;
		width: 90px;
		bottom: 8px;
	}
	
	body {
		margin-top: 8px;
	}
	
	#drags {
		height: 140px;
		position: relative;
		right: 98px;
		margin-top: 10px;
	}
	
	img[name="drag"] {
		max-height: 110px;
		max-width: 110px;
	}
	
	#bar {
		height: 10px;
		bottom: 20px;
		right: 97px;
	}
	
	#dialogue {
		background-size: 270px;
		background-repeat: no-repeat;
		height: 110px;
		left: 50%;
		top: 87px;
	}
	
	#text {
		top: 39px;
		left: 55px;
		width: 206px;
		font-weight: normal;
		font-size: 12px;
	}
	
	#popup {
		border: 6px solid #DDDDDD;
		width: 500px;
		height: 228px;
	}
	
	#reqimg {
		width: 150px;
		height: 150px;
		overflow: hidden;
	}
	
	#request {
		width: 336px;
	}
	
	#reqbody {
		font-size: 15px;
		height: 150px;
		width: 336px;
		font-weight: normal;
	}
	
	.reqbut {
		width: 118px;
		background-repeat: no-repeat;
		margin: 8px;
	}
	
	#popbar {
		width: 442px;
		height: 10px;
	}
	
	#start {
		width: 510px;
		height: 240px;
	}
	
	h1 {
		font-size: 40px;
	}
	
	h4 {
		font-size: 22px;
	}
	
	#gameover {
		width: 450px;
		font-size: 70px;
		height: 175px;
	}
}

@media only screen and (orientation: landscape) and (max-width: 830px) {
	#invite {
		background-image: url("../img/min.png");
		background-size: 120px;
		border: none;
	}

	#decline {
		background-image: url("../img/mno.png");
		background-size: 120px;
		border: none;
	}

	.drop {
		border: none;
		border-radius: 0;
	}
}

@media only screen and (orientation: landscape) and (height: 600px) {
	#invite {
		background-image: url("../img/min.png");
		background-size: 120px;
		border: none;
	}

	#decline {
		background-image: url("../img/mno.png");
		background-size: 120px;
		border: none;
	}

	.drop {
		border: none;
		border-radius: 0;
		width: 160px;
		height: 160px;
	}
	
	#drops {
		width: 480px;
		margin: auto;
	}
	
	#reqimg {
		width: 230px;
		height: 230px;
		overflow: hidden;
	}
	
	#request {
		width: 540px;
	}
}

@media only screen and (orientation: portrait) and (width: 600px) {
	#invite {
		background-image: url("../img/min.png");
		background-size: 120px;
		border: none;
	}

	#decline {
		background-image: url("../img/mno.png");
		background-size: 120px;
		border: none;
	}

	.drop {
		border: none;
		border-radius: 0;
		width: 220px;
		height: 220px;
	}
	
	#drops {
		width: 480px;
	}
	
	#stats {
		width: 460px;
		height: 130px;
	}
	
	div[name="data"] {
		font-size: 36px;
		height: 50px;
		width: 140px;
	}
	
	#dialogue {
		background-size: 320px 170px;
		background-repeat: no-repeat;
		top: 210px;
	}
	
	#text {
		left: 70px;
		width: 230px;
		font-size: 15px;
		top: 62px;
	}
	
	#popup {
		border: 10px solid #DDDDDD;
		width: 530px;
		height: 250px;
	}
	
	#reqimg {
		width: 160px;
		height: 160px;
		overflow: hidden;
	}
	
	#request {
		width: 365px;
	}
	
	#reqbody {
		width: 365px;
		height: 170px;
	}
}